# Git
.git
.gitignore

# Docker
.docker
docker-compose.yml
Dockerfile
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Local development settings
.env*
!.env.example

# Static & media
staticfiles/
media/

# Project specific
data/
logs/